* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h{
  height: 200px;
  background-image: url(box1.jpg);
  background-size: cover;
  background-position: center;
}

.n{
  height: 200px;
  background-image: url(box2.jpg);
  background-size: cover;
  background-position: center;
}

.a{
  height: 200px;
  background-image: url(box3.jpg);
  background-size: cover;
  background-position: center;
}

.h{
  height: 200px;
  background-image: url(box4.jpg);
  background-size: cover;
  background-position: center;
}
